/* Bio.css */

.bio__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-16);
}

.bio__image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:
    0 0 40px rgba(255,255,255,0.04),
    0 0 4px rgba(255,255,255,0.1);
}
