/* src/components/Portfolio/ProjectModalContent.css */

.project-modal__description {
  margin-bottom: var(--space-24);
  opacity: 0.85;
}

.project-modal__highlight {
  margin-bottom: var(--space-8);
}

.project-modal__highlights {
  margin-bottom: var(--space-24);
}

.project-modal__image {
  border-radius: var(--radius-md);
  object-fit: cover;
  width: 100%;
}

.project-modal__images {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.project-modal__title {
  margin-bottom: var(--space-16);
}
