/* src/styles/HeroSection.css */

.hero {
  padding: 4rem 1rem;
  margin-bottom: 4rem;
  display: block;
}

.hero-content {
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.hero-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tablet */
@media (min-width: 600px) {
  .hero {
    padding: 6rem 1rem;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .hero-content {
    text-align: center;
  }

  .hero-actions {
    justify-content: center;
  }
}