/* src/styles/Home.css */

.featured-section { 
    padding: 4rem 1rem;
    width: 100%;
    max-width: none; 
    margin:0 auto; 
}

.featured-section h2 {
    margin-bottom: 1.5rem; 
}

.featured-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
}


/* Tablet */
@media (min-width: 600px) {
  .featured-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 900px) {
  .featured-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
