/* src/styles/index.css */
@import './base/spacing.css';
@import "./base/colors.css";
@import "./base/typography.css";
@import "./layout/structure.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 70px;
}

html { 
  scroll-padding-top: 70px; 
} 

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--page-bg);
  color: var(--text);
  font-family: var(--font-family-base);
  scroll-behavior: smooth;
}
